<section
  id="contact"
  class="min-h-screen bg-gray-100 pt-28 flex flex-col justify-between">

  <!-- TITLE -->
  <div class="text-center">

    <h2
      class="text-5xl font-extrabold font-['Lalezar']
      [text-shadow:0_5px_8px_rgba(0,0,0,0.35)]">
      Contacts
    </h2>

    <div class="w-20 h-1 bg-indigo-500 mx-auto mt-1 rounded-full"></div>

  </div>

  <!-- CONTACT CONTENT -->
  <div
    class="max-w-6xl mx-auto w-full
    grid md:grid-cols-2 gap-20
    px-10 mt-16">

    <!-- LEFT -->
    <div class="space-y-10">

      <!-- ADDRESS -->
      <div class="flex items-center gap-6">

        <i class="bx bx-home text-4xl text-indigo-600"></i>

        <div>
          <h3 class="text-2xl font-semibold">
            Hagonoy, Bulacan
          </h3>

          <p class="text-2xl text-gray-600 font-light">
            Sucol San Sebastian
          </p>
        </div>

      </div>

      <!-- PHONE -->
      <div class="flex items-center gap-6">

        <i class="bx bx-phone text-4xl text-indigo-600"></i>

        <div>
          <h3 class="text-2xl font-semibold">
            0997 928 2676
          </h3>

          <p class="text-2xl text-gray-600 font-light">
            Monday - Sunday
          </p>
        </div>

      </div>

      <!-- EMAIL -->
      <div class="flex items-center gap-6">

        <i class="bx bx-envelope text-4xl text-indigo-600"></i>

        <div>

          <h3 class="text-2xl font-semibold break-all">
            jimenezraven012@gmail.com
          </h3>

          <p class="text-2xl text-gray-600 font-light">
            Send me your email
          </p>

        </div>

      </div>

    </div>

    <!-- RIGHT FORM -->
    <form class="grid grid-cols-2 gap-5">

      <div class="space-y-5">

        <input
          type="text"
          placeholder="Enter your name"
          class="w-full border rounded-xl p-4
          focus:outline-none
          focus:border-indigo-500">

        <input
          type="email"
          placeholder="Enter email address"
          class="w-full border rounded-xl p-4
          focus:outline-none
          focus:border-indigo-500">

        <input
          type="text"
          placeholder="Enter Subject (Optional)"
          class="w-full border rounded-xl p-4
          focus:outline-none
          focus:border-indigo-500">

      </div>

      <div class="flex flex-col">

        <textarea
          rows="8"
          placeholder="Enter Message"
          class="border rounded-xl p-4 resize-none
          focus:outline-none
          focus:border-indigo-500">
        </textarea>

        <button
          type="submit"
          class="mt-5 self-start
          bg-indigo-600
          text-white
          px-8 py-4
          rounded-xl
          font-regular
          shadow-lg
          hover:bg-indigo-700
          transition-all duration-300">

          SEND MESSAGE

        </button>

      </div>

    </form>

  </div>

  <!-- FOOTER -->
  <footer
    class="mt-20
    bg-indigo-600
    text-white
    px-20 py-5">

    <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-10 px-10">

      <!-- LEFT -->
      <div>

        <h3 class="text-2xl font-semibold">
          About Me
        </h3>

        <p class="mt-6 text-indigo-100 max-w-md">
          I'm Mark Raven, looking for a position to kickstart my career in the field of UI/UX Design and Frontend Development.
        </p>

        <p class="mt-8 text-indigo-100">
          © 2026 Mark Raven Jimenez. All Rights Reserved.
        </p>

        <p class="mt-4 text-indigo-100">
          Made by <span class="font-semibold text-white">Mark Raven M. Jimenez</span>
        </p>

      </div>

      <!-- RIGHT -->
      <div class="md:pl-80">

        <h3 class="text-2xl font-semibold">
          Follow Me
        </h3>

        <p class="text-indigo-200 mt-2">
          Let us be social
        </p>

        <div
          class="flex md:pl-0 gap-5 text-5xl mt-5">

          <a href="#">
            <i class="bx bxl-facebook-square hover:scale-110 transition"></i>
          </a>

          <a href="#">
            <i class="bx bxl-linkedin-square hover:scale-110 transition"></i>
          </a>

          <a href="#">
            <i class="bx bxl-instagram-alt hover:scale-110 transition"></i>
          </a>

        </div>

      </div>

    </div>

  </footer>

</section>