<section
  id="project"
  class="min-h-screen bg-white px-6 md:px-16 py-24">

  <!-- TITLE -->
  <div class="text-center">

    <h2
      class="text-5xl font-extrabold
             font-['Lalezar']
             text-black
             [text-shadow:0_5px_8px_rgba(0,0,0,0.25)]">
      My Project
    </h2>

    <div
      class="w-22 h-1 bg-indigo-500
             rounded-full mx-auto mt-1">
    </div>

  </div>


  <!-- PROJECT CARDS -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3
           gap-8 max-w-6xl mx-auto mt-16">

    <!-- PROJECT 1 -->
    <div
      class="group
             bg-gray-600
             rounded-3xl
             overflow-hidden
             border-2 border-transparent
             hover:border-indigo-700
             shadow-lg
             hover:shadow-[0_15px_35px_rgba(99,102,241,0.35)]
             transition-all duration-">

      <!-- IMAGE -->
      <div
        class="h-40 bg-gray-700
               flex items-center justify-center
               overflow-hidden">

        <img
          src="Screenshot4.png"
          alt="UI/UX Intern Project"
          class="h-full max-w-full object-contain
                 transition-transform duration-300">
      </div>

      <!-- CONTENT -->
      <div class="p-5 text-white">

        <h3 class="text-sm font-bold">
          UI/UX Intern Project
        </h3>

        <p class="text-xs text-gray-200 mt-3 leading-5">
          Build a consistent workout routine after work
          and track progress using the fitness app.
        </p>

        <button
          class="mt-4
                 bg-indigo-500
                 hover:bg-indigo-600
                 text-white
                 text-xs font-semibold
                 px-6 py-2
                 rounded-lg
                 transition-all duration-300
                 hover:scale-105">
          View Project
        </button>

      </div>

    </div>


    <!-- PROJECT 2 -->
    <div
      class="group
             bg-gray-600
             rounded-3xl
             overflow-hidden
             border-2 border-transparent
             hover:border-indigo-700
             shadow-lg
             hover:shadow-[0_15px_35px_rgba(99,102,241,0.35)]
             transition-all duration-300">

      <!-- IMAGE -->
      <div
        class="h-40 bg-gray-700
               flex items-center justify-center
               overflow-hidden">

        <img
          src="Screenshot.png"
          alt="Time-In-Time-Out Kiosk"
          class="h-full max-w-full object-contain
                 transition-transform duration-300">
      </div>

      <!-- CONTENT -->
      <div class="p-5 text-white">

        <h3 class="text-sm font-bold">
          UI/UX Intern Project
        </h3>

        <p class="text-xs text-gray-200 mt-3 leading-5">
          Time-In/Time-Out Kiosk System company project.
        </p>

        <button
          class="mt-7
                 bg-indigo-500
                 hover:bg-indigo-600
                 text-white
                 text-xs font-semibold
                 px-6 py-2
                 rounded-lg
                 transition-all duration-300
                 hover:scale-105">
          View Project
        </button>

      </div>

    </div>


    <!-- PROJECT 3 -->
    <div
      class="group
             bg-gray-600
             rounded-3xl
             overflow-hidden
             border-2 border-transparent
             hover:border-indigo-700
             shadow-lg
             hover:shadow-[0_15px_35px_rgba(99,102,241,0.35)]
             transition-all duration-300">

      <!-- IMAGE -->
      <div
        class="h-40 bg-gray-700
               flex items-center justify-center
               overflow-hidden">

        <img
          src="Screenshot7.png"
          alt="Car Rental Website"
          class="h-full max-w-full object-contain
                 transition-transform duration-300">
      </div>

      <!-- CONTENT -->
      <div class="p-5 text-white">

        <h3 class="text-sm font-bold">
          UI/UX Personal Project
        </h3>

        <p class="text-xs text-gray-200 mt-3 leading-5">
          Car Rental Website UI designed for a
          modern and user-friendly experience.
        </p>

        <button
          class="mt-4
                 bg-indigo-500
                 hover:bg-indigo-600
                 text-white
                 text-xs font-semibold
                 px-6 py-2
                 rounded-lg
                 transition-all duration-300
                 hover:scale-105">
          View Project
        </button>

      </div>

    </div>


    <!-- COMING SOON 1 -->
    <div
      class="bg-gray-600
             rounded-3xl
             h-40
             flex items-center justify-center
             border-2 border-transparent
             hover:border-indigo-400
             hover:-translate-y-2
             hover:shadow-[0_15px_35px_rgba(99,102,241,0.35)]
             transition-all duration-300">

      <h3 class="text-white text-xl font-bold">
        COMING SOON!
      </h3>

    </div>


    <!-- COMING SOON 2 -->
    <div
      class="bg-gray-600
             rounded-3xl
             h-40
             flex items-center justify-center
             border-2 border-transparent
             hover:border-indigo-400
             hover:-translate-y-2
             hover:shadow-[0_15px_35px_rgba(99,102,241,0.35)]
             transition-all duration-300">

      <h3 class="text-white text-xl font-bold">
        COMING SOON!
      </h3>

    </div>


    <!-- COMING SOON 3 -->
    <div
      class="bg-gray-600
             rounded-3xl
             h-40
             flex items-center justify-center
             border-2 border-transparent
             hover:border-indigo-400
             hover:-translate-y-2
             hover:shadow-[0_15px_35px_rgba(99,102,241,0.35)]
             transition-all duration-300">

      <h3 class="text-white text-xl font-bold">
        COMING SOON!
      </h3>

    </div>

  </div>

</section>