<section
  id="home"
  class="min-h-screen flex flex-col md:flex-row items-center justify-between pl-32 pr-16 pt-24 bg-white">

  <!-- LEFT CONTENT -->
  <div class="flex-1">

    <p class="text-3xl font-semibold mb-3">
      Hi,
    </p>

    <h1
      class="text-6xl font-extrabold leading-none text-black font-['Lalezar']
      [text-shadow:0_3px_0_rgba(0,0,0,0.15),0_8px_8px_rgba(0,0,0,0.30)]">
      I'M MARK RAVEN
    </h1>

    <h2 class="text-3xl mt-4 text-gray-500 typing-text">
      FRONTEND DEVELOPER
    </h2>

    <div></div>
    <!-- BUTTON -->
    <a
      href="MarkRavenJimenezWebDev"
      download
        class="inline-block mt-8 bg-indigo-500 hover:bg-indigo-600 text-white
         px-8 py-4 rounded-2xl text-xl font-semibold
         shadow-[0_4px_15px_rgba(99,102,241,0.35)]
         hover:shadow-[0_6px_25px_rgba(99,102,241,0.55)]
         transition-all duration-300">
    Download CV
    </a>

    <!-- SOCIAL ICONS -->
    <div class="flex gap-5 mt-10 text-5xl">

      <a href="https://facebook.com" target="_blank">
        <i class="bx bxl-facebook-square hover:text-blue-600 transition-all duration-300 hover:scale-110"></i>
      </a>

      <a href="https://linkedin.com" target="_blank">
        <i class="bx bxl-linkedin-square hover:text-blue-700 transition-all duration-300 hover:scale-110"></i>
      </a>

      <a href="https://instagram.com" target="_blank">
        <i class="bx bxl-instagram-alt hover:text-pink-500 transition-all duration-300 hover:scale-110"></i>
      </a>

    </div>

  </div>

  <!-- RIGHT IMAGE -->
  <div class="flex-1 flex justify-center -mt-20">

  <div class="relative">

    <!-- Violet Glow -->
    <div
      class="absolute inset-0
             bg-indigo-400/20
             blur-3xl
             rounded-full
             scale-100">
    </div>

    <!-- IMAGE -->
    <img
      src="image.png"
      alt="Profile"
      class="relative w-96 z-10">

    <!-- Ground Shadow -->
    <div
      class="absolute
             left-1/2
             bottom-0
             -translate-x-1/2
             w-48
             h-6
             bg-black/25
             blur-md
             rounded-full">
    </div>

  </div>

</div>

</section>